<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ticket Details</title>
  </head>
  <body>
    <h3>Your show details</h3>
    <table border="2">
      <thead>
      <th>Details</th>
      </thead>
      <tr>
        <th>Name</th>
        <td>{{ticket.name}}</td>
      </tr>
      <tr>
        <th>age</th>
        <td>{{ticket.age}}</td>
      </tr>
      <tr>
        <th>Theater</th>
        <td>{{ticket.theater}}</td>
      </tr>
        <tr>
          <th>Time</th>
          <td>{{ticket.show_time}}</td>
        </tr>
        <tr>
          <th>Price</th>
        <td>{{ticket.price}}</td>
      </tr>
    </table>
    <br/>
    <a href="/movies">Home</a>
  </body>
</html>
